<!doctype html>
<html ng-app="myApp">
 <head>
    <title>Socket.IO chat</title>
    <script type="text/javascript" src="/home/mel/chat_app/client/lib/angular.js"></script>
    <script type="text/javascript" src="/home/mel/chat_app/client/js/app.js"></script> 
    <link rel="stylesheet" href="home/mel/chat_app/client/css/style.css">
    <script src="/socket.io/socket.io.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js">
    </script>
    
  </head>
  <body ng-controller="mainController">
    <ul id="messages"></ul>
    <div>
      <input id="m" ng-model="message" autocomplete="off" />
      <button ng-click="send()">Send</button>
    </div>
  </body>
</html>
